.main {
  width: 95%;
  background-color: antiquewhite;
  border: 1px solid aquamarine;
  margin: auto;
}

table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  position: sticky;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

.footer {
  display:flex;
  width: 33%;
  margin: 10px auto;
  flex-wrap: wrap;
  justify-items: center;
}

.footer button {
  margin-inline: 4px;
}

.reorder {
  display: block;
  margin: 3px auto;
}